body {
    background-color: white;
}

h1,
h4 {
    color: black;
    font-family: Open, Arial, San-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 6px;
}

ul, 
ol {
    color: rgb(0, 38, 255);
    font-family: Arial, San-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: rgb(232, 232, 232);
    padding-left: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 4px;
    margin-bottom: 4px
}

p {
    color: rgb(0, 38, 255);
    font-family: Arial, San-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: rgb(232, 232, 232);
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

a:visited {
    color: rgb(0, 38, 255)
}

 a.return {
    color: black;
    font-family: Open Sans, Arial, San-serif;
    font-weight: 200;
    font-size: 9px;
}

.cookies {
    width: auto;
    height: 512px;
}
 
.portuguese-sausage {
    width: auto;
    height: auto;
}

.spam-musubi {
    width: auto;
    height: 500px;
}

